#app {
	color: #555;
	color: #68768c;
	font-family: "Source Sans Pro", sans-serif;
}
#app[v-cloak] {
	display: none;
}
#app .metorik-content {
	padding: 8px 5px;
}
#app .metorik-content h4 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 14px;
}

#app .metorik-content .profile {
	margin-bottom: 25px;
}
#app .metorik-content .profile .details {
	float: left;
	padding-top: 8px;
}
#app .metorik-content .profile .details .name {
	display: block;
	font-family: "Cairo", sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 8px;
}
#app .metorik-content .profile .details ul.fa-ul {
	margin-left: 20px;
}
#app .metorik-content .profile .details .meta {
	font-size: 13px;
	padding-bottom: 2px;
}
#app .metorik-content .profile .details .meta i {
	font-size: 12px;
    padding-top: 1px;
}
#app .metorik-content .profile .image {
	float: right;
}
#app .metorik-content .profile .image img {
	border: 2px solid #d3e0e9;
	border-radius: 100%;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}
#app .metorik-content .profile .image a:hover img {
	border-color: #bcd0de;
}

#app .metorik-content .stats {
	color: #7f8fa4;
}
#app .metorik-content .stats .stat {
	border: 1px solid #d3e0e9;
	border-radius: 2px;
	color: #7f8fa4;
	display: inline-block;
	font-size: 12px;
	margin-bottom: 5px;
	padding: 10px 12px;
	text-transform: uppercase;
	width: 41%;
}
#app .metorik-content .stats .stat:nth-child(even) {
	float: right;
}
#app .metorik-content .stats .stat .amount {
	color: #68768c;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	padding-right: 3px;
    vertical-align: middle;
}
#app .metorik-content .stats .stat .words {
    display: inline-block;
    padding-top: 1px;
	vertical-align: middle;
}

#app .metorik-content .orders {
	list-style-type: none;
	margin-left: 0;
}
#app .metorik-content .orders .order a {
	border: 1px solid #d3e0e9;
	border-radius: 2px;
	color: #68768c;
	display: block;
	margin-bottom: 4px;
	text-decoration: none;
	width: 100%;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}
#app .metorik-content .orders .order a:hover {
	border-color: #a5c0d3;
}
#app .metorik-content .orders .order .details {
	float: left;
	padding: 12px;
}
#app .metorik-content .orders .order .details .total {
	color: #7f8fa4;
	font-size: 15px;
	margin-bottom: 2px;
}
#app .metorik-content .orders .order .details .total span {
	font-weight: 600;
}
#app .metorik-content .orders .order .meta {
	color: #97a1b2;
	font-size: 13px;
}
#app .metorik-content .orders .order .status {
	float: right;
	font-size: 12px;
	padding: 17px 12px 0 0;
}

#app .metorik-content .products {
	list-style-type: none;
	margin-left: 0;
}
#app .metorik-content .products .product {
	border: 1px solid #d3e0e9;
	color: #7f8fa4;
	margin-bottom: 4px;
	padding: 12px;
}
#app .metorik-content .products .product span {
	font-weight: 600;
}

/* guest styles */
#app .metorik-content .guest-notice {
	font-size: 13px;
	text-transform: uppercase;
}
#app .metorik-content .orders .order.guest-order a {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
}
#app .metorik-content .order-items {
	border: 1px solid #d3e0e9;
	border-top: 0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	width: 100%;
}
#app .metorik-content .order-items ul {
	list-style-type: none;
	margin: 0;
}
#app .metorik-content .order-items ul .order-item {
	background: #fafafa;
	border-bottom: 1px solid #d3e0e9;
	font-size: 13px;
	padding: 8px 12px;
}
#app .metorik-content .order-items ul .order-item:last-of-type {
	border-bottom: 0;
}

/* Loading */
.loading-pulse {
	display: block;
	margin: 20px auto 0;
	position: relative;
	width: 6px;
	height: 24px;
	background: rgba(255, 255, 255, 0.2);
	-webkit-animation: pulse 750ms infinite;
	animation: pulse 750ms infinite;
	-webkit-animation-delay: 250ms;
	animation-delay: 250ms;
}
.loading-pulse:before, .loading-pulse:after {
	content: '';
	position: absolute;
	display: block;
	height: 16px;
	width: 6px;
	background: rgba(255, 255, 255, 0.2);
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-animation: pulse 750ms infinite;
	animation: pulse 750ms infinite;
}
.loading-pulse:before {
	left: -12px;
}
.loading-pulse:after {
	left: 12px;
	-webkit-animation-delay: 500ms;
	animation-delay: 500ms;
}
@-webkit-keyframes pulse {
	50% {
		background: #7f8fa4;
	}
}
@keyframes pulse {
	50% {
		background: #7f8fa4;
	}
}

/* Helpers */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}